@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),  url('OpenSans-Regular.woff') format('woff'), url('OpenSans-Regular.ttf')  format('truetype'), url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: bold;
    font-style: normal;
  }
body {
    font-family: 'Open Sans' Arial, Helvetica, sans-serif;
}
header {
    background: rgb(56, 179, 228);
    margin-left: 8px;
    text-align: center;
    background-color: #76bcda;
       
    
}



footer {
    background-color: #ef4c51;
    margin-left: 8px;
   margin-top: 500px;
    width:100%;
    height:100px;
    color: white;
    text-align: left;
    
}
.bg-image {
    background-color: #183642;
    text-align: center;
}


.social-links {
    text-align: right;
}

